.bigContainer {
  display: flex;
  flex-direction: column;
}

.containerOne {
  display: flex;
  flex-direction: row;
}

.boxOne {
  min-width: 5px;
  min-height: 5px;
  border-color: black;
  background-color: yellow;
  border-style: solid;
}

.boxTwo {
   width: 5px;
   height: 5px;
   border-color: black;
   background-color: yellow;
   border-style: solid;
}