body, html {
  height: 1500px;
  margin: 0;
  padding: 0;
}

.bigContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  min-height: 100vh;
}

.box {
   width: 75px;
   height: 75px;
   border-color: black;
   background-color: yellow;
   border-style: solid;  
}

.colorChange {
  background-color: darkviolet;
}

button {
  border-radius: 2rem;
  min-width: 200px;
  min-height: 200px;
}

.biggerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}